label, a, select {
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 1em;
}

select {
    color: black;
}

body {
    background-image: url(logo.png);
    background-size: cover;
}

#submit-form, #file-form {
    margin: 1em;
}

textarea {
    margin: 0 1em 1em 1em;
    max-width: 15em;
    max-height: 7em;
}

#feedback-form {
    display: flex;
    flex-direction: column;
    margin: 5% 30% 0 30%;
    width: 15em;
    background-color: rgb(120, 22, 22);
    border: 0.5em solid rgb(196, 22, 22);
    border-radius: 1em;
}

#file-form {
    width: 10000p;
}

#feedback-form * {
    width: 15em;
}

#from1-form, #from2-form, #from3-form {
    width: 6em;
}

#radio-buttons {
    margin-bottom: 1em;
}

#checkbox-form {
    width: 1em;
}